// .hero {
//     background-color: var(--secondary-background-color);
//     padding: 200px 0;
// }
// .overlay {
//     background: #c4c4c4;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/overlay.jpg);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .hero__title {
//     color: var(--secondary-text-color);
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     display: block;
//     margin: 0 auto;
//     max-width: 696px;
//     margin-bottom: 30px;
// }

// .hero__btn {
//     border: none;
//     color: var(--secondary-text-color);
//     background-color: var(--accent-color);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     border-radius: 4px;
//     cursor: pointer;
//     display: block;
//     margin: 0 auto;
//     padding: 10px 32px;
// }


.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // min-width: 1600px;
    // min-height: 600px;
    max-width: 1600px;
    max-height: 600px;
    text-align: center;
    background-color: #c4c4c4;

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;

        @include font($fw: 900, $fs: 26px, $lh: 1.62, $ls: 0.06em);
        text-transform: uppercase;

        color: var(--secondary-text-color);

        @media screen and (min-width: $desktop) {
            @include font($fw: 900, $fs: 44px, $lh: 1.36, $ls: 0.06em);
            max-width: 696px;
        }
    }
}

.hero__btn {
    padding: 10px 32px;
    min-width: 200px;

    &:hover,
    &:focus {
        background-color: var(#188ce8);
    }

    @media screen and (min-width: $desktop) {
        min-width: 216px;
    }
}
